$sprite: '../img/sprites/sprite.svg#';

$white:         #fff;
$black:         #000;
$font-black:    #3A3A3A;
$font-light-black: #6A6A6A;
$red:           #FF0000;
$dark-red:      #9A0226;

$font-family-base:    'Roboto' , sans-serif;
$font: 'Roboto';
