.input {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    &__input {
        @media (min-width: $break_md) {
            margin-right: 16px;
            border-radius: 6px;
        }
        padding: 10px 15px;
        display: block;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: none;
        outline: none;
        margin-right: 0px;
        width: calc(100% - 100px);
    }
    &__input::placeholder {
        font-size: 16px;
        color: $dark-gray;
        background-color: $white;
    }
}
