mixin steps(value = false)
    +b.SECTION.steps
        .container
            .row
                +e.H2.heading #{value.heading}
                +e.wrp
                    +e.UL.list
                        each img, i in value.imagesUrl
                            +e.LI.item
                                +e.number
                                    +e.IMG.img(src=img alt="number " +i,  role="presentation")
                                +e.SPAN.text #{value.text[i]}
                    +e.curve-wrp
                        each val, i in value.imagesUrl
                            if i === 1
                                +picture({
                                    name: "curve-top",
                                    format: "webp",
                                    class: "__curve_top"
                                })
                            if i === 2
                                +picture({
                                    name: "curve-bottom",
                                    format: "webp",
                                    class: "__curve_bottom"
                                })
