.steps {
    @media (min-width: $break_md) {
        padding-top: 126px;
        padding-bottom: 126px;
    }
    padding-top: 50px;
    padding-bottom: 50px;
    &__heading {
        @media (min-width: $break_md) {
            margin-bottom: 80px;
        }
        @include col();
        @include size(12);
        margin-bottom: 50px;
    }
    &__wrp {
        @include col();
        @include size(12);
    }
    &__list {
        @media (min-width: $break_md) {
            flex-direction: row;
            align-items: flex-start;
        }
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;

        counter-reset: list;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__number {
        position: relative;
        width: 100px;
        height: 100px;

        background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 50%;

        z-index: 2;
        margin-bottom: 15px;
    }
    &__number-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        font-weight: bold;
        font-size: 36px;

        background: linear-gradient(192.44deg, #C4CDFF 0%, #7171FF 70.83%, #1C1C9D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__text {
        @media (min-width: $break_md) {
            width: auto;
            padding: 15px 30px;
        }
        width: 50%;
        text-align: center;

        font-size: 18px;
        color: $font-light-black;
    }
    &__item:not(:last-of-type) {
        @media (min-width: $break_md) {
            margin-bottom: 0;
        }
        margin-bottom: 55px;
    }
    &__img {
        width: 11px;
        height: 21px;
        position: absolute;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__curve {
        @media (min-width: $break_lg) {
            width: 361px;
        }
        width: 220px;
        position: absolute;
    }
    &__curve_top {
        @media (min-width: $break_xl) {
            right: 53%;
            top: -17px;
        };
        @media (min-width: $break_lg) {
            right: 50%;
            top: -8px;
        };
        right: 55%;
        top: 0px;
    }
    &__curve_bottom {
        @media (min-width: $break_lg) {
            left: 50%;
            top: 36px;
        }
        left: 54%;
        top: 63px;
    }
    &__wrp {
        position: relative;
    }
    &__curve-wrp {
        @media (min-width: $break_md) {
            display: block;
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
        }
        display: none;
    }
}
