mixin offer(value = false)
    +b.SECTION.offer#offer
        +e.wrp
            .container
                .row
                    +e.UL.content
                        +e.LI.item._flex._md_mb-45
                            +e.logo
                                +icon({
                                    name: "logo-label",
                                    class: "offer__svg"
                                })
                            +e.text
                                +e.P.title Try Inka
                                +e.P.subtitle Ready to explore Inka?
                        +e.LI.item
                            +e.A.app-stire-link(href="https://apps.apple.com/ru/app/яндекс-карты/id313877526" target="_blank")
                                +b.IMG(class="lozad" data-src=`img/content/app-store.webp` data-srcset=`img/content/app-store@x2.webp 2x`)
                        +e.LI.item
                            +e.A.app-store-link(href="https://play.google.com/store/apps/details?id=ru.yandex.yandexmaps" target="_blank")
                                +b.IMG(class="lozad" data-src=`img/content/google-play.webp` data-srcset=`img/content/google-play@x2.webp 2x`)
                        +e.LI.item
                            +e.A.app-store-link(href="#")
                                +b.IMG(class="lozad" data-src=`img/content/qr-code.webp` data-srcset=`img/content/qr-code@x2.webp 2x`)
        +e.IMG.phone(class="lozad" data-src=`img/content/iphone.webp` data-srcset=`img/content/iphone@x2.webp 2x` alt="Картинка приложения inka")
