mixin nav(value = false)
    +b.NAV.nav(data-items-animation="true")
        +e.UL.list
            each item, index in value.navigationListItems
                +e.LI.item
                    +e.A.link(href="#") #{item}

