$listItems: 4;
$staticNavigationMediaBreak: $break_md;

.nav {
    @media (min-width: $break_md) {
        position: static;
        width: 100%;
    }
    position: absolute;
    top: 0;
    background-color: lightgray;
    width: calc(100% + 30px);
    padding-top: 15px;
    padding-bottom: 15px;
    visibility: hidden;
    pointer-events: none;
    transition-property: visibility, pointer-events;
    transition-delay: 1s;
    animation-duration: .8s;
    animation-name: bounceOutLeft;
    animation-fill-mode: both;
    @media (min-width: $staticNavigationMediaBreak) {
        visibility: visible;
        pointer-events: auto;
        animation: none;
    }
    @media (min-width: $break_md) {
        background-color: inherit;
    }
    &_active {
        visibility: visible;
        pointer-events: auto;
        animation-duration: .8s;
        animation-name: bounceInLeft;
        animation-fill-mode: both;
        transition-property: visibility, pointer-events;
        transition-delay: 0s;
    }

    &__img {
        @include col();
        @include size(12);
        margin-bottom: 15px;
        @media (min-width: $staticNavigationMediaBreak) {
            flex-grow: 0;
            width: auto;
            margin-bottom: 0;
        }
    }

    &__logo {
        display: block;
        max-width: 90px;
        height: 32px;
    }

    &__list {
        @include col();
        @include size(12);
        @media (min-width: $staticNavigationMediaBreak) {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-end;
            width: auto;
        }
    }

    &__item {
        @media (min-width: $break_md) {
            margin-bottom: 0;
        }
        margin-bottom: 3px;
        &_bounceInLeft {
            animation-duration: 1s;
            animation-name: bounceInLeft;
            animation-fill-mode: both;
        }
        @for $i from 1 through $listItems {
            $baseDelay: 0.2;
            &_bounceInLeft_0#{$i * 2}s {
                animation-delay: #{$baseDelay * $i}s;
            }
        }
    }
    &__item + &__item {
        @media (min-width: $staticNavigationMediaBreak) {
            margin-left: 40px;
        }
        @media (min-width: $break_lg) {
            margin-left: 60px;
        }
        @media (min-width: $break_xl) {
            margin-left: 80px;
        }
    }

    &__link {
        font-family: $font;
        font-size: 18px;
        color: $font-black;
    }
}
