.slider {
    @media (min-width: $break_lg) {
        padding-top: 136px;
        padding-bottom: 136px;
    }
    padding: 48px 0;

    &__slider-controller {
        @media (min-width: $break_xl) {
            width: 426px;
        }
        @media (min-width: $break_md) {
            width: 320px;
            margin-bottom: 0;
        }
        @include col();
        @include size(12);
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    &__slider-controller-wrp {
        @media (min-width: $break_xl) {
            width: 426px;
            max-width: 426px;
            min-width: 426px;
            height: 426px;
        }
        position: relative;
        width: 290px;
        max-width: 290px;
        min-width: 290px;
        height: 290px;
        max-width: 100%;
    }

    &__slides {
        @media (min-width: $break_xl) {
            width: calc(100% - 456px);
            max-width: 600px;
        }
        @media (min-width: $break_md) {
            width: calc(100% - 380px);
            max-width: 410px;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }
        @include col();
        @include size(12);
    }

    &__title {
        @media (min-width: $break_xl) {
            margin-bottom: 28px;
        }
        @media (min-width: $break_lg) {
            font-size: 48px;
            margin-bottom: 20px;
        }
        font-size: 28px;
        font-weight: bold;
        color: $font-black;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    &__subtitle {
        @media (min-width: $break_lg) {
            font-size: 24px;
        }
        color: $font-black;
        padding: 0;
        margin: 0;
    }

    &__slider-controller-wrp {
        & > div {
            position: absolute;
            transition: transform .15s ease;
        }

        & > div > picture {
            display: block;
            width: 100%;
        }

        & > div:nth-child(1) {
            @media (min-width: $break_xl) {
                right: 27px;
                top: 0px;
            }
            right: 41px;
            top: 25px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(10px, -16px, 0px);
                }
                transform: translate3d(5px, -9px, 0px);
            }
        }

        & > div:nth-child(2) {
            @media (min-width: $break_xl) {
                top: 106px;
                right: -1px;
            }
            top: 84px;
            right: 24px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(20px, 0px, 0px);
                }
                transform: translate3d(10px, 0px, 0px);
            }
        }

        & > div:nth-child(3) {
            @media (min-width: $break_xl) {
                bottom: -4px;
                right: 27px;
            }
            bottom: 20px;
            right: 41px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(10px, 17px, 0px);
                }
                transform: translate3d(6px, 8px, 0px);
            }
        }

        & > div:nth-child(4) {
            @media (min-width: $break_xl) {
                bottom: -5px;
                right: 212px;
            }
            bottom: 20px;
            right: 145px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(-10px, 17px, 0px);
                }
                transform: translate3d(-5px, 9px, 0px);
            }
        }

        & > div:nth-child(5) {
            @media (min-width: $break_xl) {
                left: 0px;
                top: 107px;
            }
            top: 84px;
            left: 25px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(-21px, 0px, 0px);
                }
                transform: translate3d(-10px, 0px, 0px);
            }
        }

        & > div:nth-child(6) {
            @media (min-width: $break_xl) {
                left: 28px;
                top: 0px;
            }
            left: 41px;
            top: 25px;

            &.slider__slider-controller-btn_active {
                @media (min-width: $break_xl) {
                    transform: translate3d(-11px, -17px, 0px);
                }
                transform: translate3d(-5px, -9px, 0px);
            }
        }

        & > div > picture img, & > div > svg:not(.slider__slide-icon) {
            @media (min-width: $break_xl) {
                width: 185px;
            }
            width: 104px;
        }

        & > div:nth-child(2) > picture img, & > div:nth-child(2) > svg:not(.slider__slide-icon) {
            @media (min-width: $break_xl) {
                width: 103px;
            }
            width: 59px;
        }

        & > div:nth-child(5) > picture img, & > div:nth-child(5) > svg:not(.slider__slide-icon) {
            @media (min-width: $break_xl) {
                width: 103px;
            }
            width: 59px;
        }
    }

    &__slide-icon {
        position: absolute;
        fill: $white;
        &_one {
            @media (min-width: $break_xl) {
                right: 84px;
                top: 41px;
                width: 33px;
                height: 34px;
            }
            right: 44px;
            top: 23px;
            width: 20px;
            height: 25px;
        }
        &_two {
            @media (min-width: $break_xl) {
                right: 20px;
                top: 89px;
                width: 35px;
                height: 35px;
            }
            right: 11px;
            top: 49px;
            width: 20px;
            height: 25px;
        }
        &_three {
            @media (min-width: $break_xl) {
                right: 73px;
                top: 68px;
                width: 40px;
                height: 40px;
            }
            right: 42px;
            top: 36px;
            width: 25px;
            height: 25px;
        }
        &_four {
            @media (min-width: $break_xl) {
                right: 75px;
                top: 67px;
                width: 38px;
                height: 38px;
            }
            right: 42px;
            top: 36px;
            width: 25px;
            height: 25px;
        }
        &_five {
            @media (min-width: $break_xl) {
                left: 16px;
                top: 89px;
                width: 38px;
                height: 38px;
            }
            left: 9px;
            top: 49px;
            width: 23px;
            height: 26px;
        }
        &_six {
            @media (min-width: $break_xl) {
                left: 73px;
                top: 45px;
                width: 34px;
                height: 34px;
            }
            left: 44px;
            top: 23px;
            width: 20px;
            height: 25px;
        }
    }

    &__slider-controller-wrp {
        cursor: pointer;
    }

    &__slider-controller-circle {
        @media (min-width: $break_xl) {
            width: 292px;
            height: 292px;
        }
        z-index: 10;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 164px;
        height: 164px;
        pointer-events: none;
    }

    &__slide-svg {
        @media (min-width: $break_lg) {
            width: 36px;
            height: 36px;
            margin-right: 16px;
        }
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    &__sign {
        @media (min-width: $break_xl) {
            margin-bottom: 56px;
        }
        @media (min-width: $break_lg) {
            font-size: 24px;
            margin-bottom: 36px;
        }
        font-size: 24px;
        line-height: 36px;
        padding: 0;
        margin: 0;
        margin-bottom: 9px;
    }

    .glide__slide {
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s linear, visibility .6s linear;
    }

    .glide__slide--active {
        opacity: 1;
        visibility: visible;
    }

    &__slider-cotroller-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }

    .slider__logo-small {
        @media (min-width: $break_xl) {
            width: 106px;
            height: 126px;
        }
        width: 60px;
        height: 72px;
    }
}
