mixin slider(value = false)
    +b.SECTION.slider
        .container
            .row
                +e.slider-controller
                    +e.slider-controller-wrp
                        +e.slider-controller-btn(data-slide="0")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-top-right.png")
                        +e.slider-controller-btn(data-slide="1")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-right.png")
                        +e.slider-controller-btn(data-slide="2")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-right-bottom.png")
                        +e.slider-controller-btn(data-slide="3")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-left-bottom.png")
                        +e.slider-controller-btn(data-slide="4")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-left.png")
                        +e.slider-controller-btn(data-slide="5")
                            +e.IMG.slider-controller-img-1(src="img/content/slider-btn-top-left.png")
                        +e.IMG.slider-controller-circle(src="img/content/slider-circle.png")
                        +e.slider-cotroller-inner
                            +e.IMG.__logo-small(srcset="img/content/logo-small@x2.png 2x"
                                src="img/content/logo-small.png" alt="Логотип inka"
                                role="presentation")
                +e.slides.glide
                    +e.slides-wrp(data-glide-el="track" data-autoplay-speed="4" class="glide__track")
                        +e.UL.items.glide__slides
                            each val, index in value.slides
                                +e.LI.item.glide__slide
                                    +e.P.sign
                                        +icon({
                                            name: "stats",
                                            class: "slider__slide-svg"
                                        })
                                        | Inka. Benefits
                                    +e.P.title #{val[0]}
                                    +e.P.subtitle #{val[1]}
