extends layouts/default
include helpers/mixins
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/modules/count/count
include ../blocks/modules/steps/steps
include ../blocks/modules/support/support
include ../blocks/modules/cryptocurrencies/cryptocurrencies
include ../blocks/modules/solution/solution
include ../blocks/modules/slider/slider
include ../blocks/modules/offer/offer
include ../blocks/modules/callback/callback
include ../blocks/modules/social/social
include ../blocks/modules/copyright/copyright

block variables
    -
        var
            title = "inka"
            navigationItems = [["About", "offer"], ["How it works", "solution"], ["Benefits", "steps"], ["Docs", "http://inka.finance/docs/Lite_Paper_Inka_1_June_2021.pdf"]]
            mainHeadingText = "Multiple chains wallet"
            countList = [["8", "Chains", "1s"], ["100", "Cryptocurrencies", "1s"], ["15", "DeFi services", "1s"]]
            imagesCount = ["img/content/1.png", "img/content/2.png", "img/content/3.png"]
            textCount = [
                    "Download Inka app on App Store or Play Market",
                    "Start buying and exchanging cryptocurrencies",
                    "Earn under 30% annually by staking cryptocurrency"
            ]
            supportCrypto = ["tether", "dai", "ethereum", "chainlink", "usd-coin", "btc"];
            cryptocurrenciesList = ["Cryptocurrencies", "Exchange rate", "DeFi services", "Investments decisions"];
            solutionContent = [["Liquid swap","Liquid Swap is a feature on Liquid that facilitates the simple exchanging of digital assets and fiat currency. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.","liquid-swap", "liquid-swap@x2", "512", "391"],["DeFi staking","Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network achieve consensus while rewarding users who participate.","defi-staking", "defi-staking@x2", "512", "390"],["DEX","A decentralized exchange (DEX, decentralized exchange) is an exchange that operates based on a distributed registry, does not store funds and personal data of users on its servers, and acts only as a platform for finding matches on applications for the purchase or sale of users' assets.","dex", "dex@x2", "512", "387"],["Cryptofunds","Cryptocurrency funds are investment funds that invest money entirely in cryptocurrencies or combine them with investments in other assets. Their task is to get the maximum return by managing their depositors ' coins or investing their funds in crypto projects and the initial coin offering (ICO).","crypto-founds", "crypto-founds@x2", "512", "295"]]
            sliderSlides = [["Inka wallet", "Wallet security is based on international standards. The code can be checked by anybody."], ["Rating", "Rating of services by users (rating). You can view the rating of the service based on the user vote and make the right choice."], ["Anonymous chat", "User privacy is our top priority. We strive to provide the most effective services."], ["One click", "Everything is in the InKA app. No more switching to third-party apps. All DeFi services and cryptocurrencies are available in InKA."], ["Investments", "Investments in digital gold, silver and stablecoins. Invest in the best digital currencies and precious metals in our app."], ["Digital assets", "Sending digital assets in a chat. Send messages and cryptocurrency to any user directly in the chat."]]
            socialIconsName = ["telegram", "fb", "twitter", "medium"]
            inputs = [["Enter your name", "text", "username"], ["Enter your e-mail address", "email", "email"]]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                +icon({
                    name: "logo",
                    class: "header__logo",
                })
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                navigationListItems: navigationItems,
                })
    +b.MAIN.main
        +title({
            heading: mainHeadingText,
        })
        +count({
        countList: countList,
        })
        +steps({
            heading: "Start earning with Inka in 3 steps:",
            imagesUrl: imagesCount,
            text: textCount,
        })
        +support({
            heading: "Supporting main cryptocurrencies",
            list: supportCrypto,
        })
        +cryptocurrencies({
            heading: "In one click choose the best:",
            list: cryptocurrenciesList,
            cryptos: 10
        })
        +solution({
            solutionContent: solutionContent,
        })
        +slider({
            slides: sliderSlides,
        })
        +offer({})
    +b.FOOTER.footer
        .container
            .row
                +e.H2.heading Receive our Newsletter
                +callback({
                    content: inputs,
                    btnText: "Subscribe",
                    elem: "footer__callback",
                })
                +social({
                    iconsName: socialIconsName,
                    elem: "footer__soc",
                })
                +copyright({
                    elem: "footer__copyright",
                })
    +b.qr-code-image
        +icon({
            name: "qr-code-image",
            class: "",
            viewbox: "0 0 218 218",
        })
        +e.SPAN Scan QR code to download
        +e.triangle(data-popper-arrow="true")

block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
