extends layouts/default
include helpers/mixins
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/modules/count/count
include ../blocks/modules/steps/steps
include ../blocks/modules/support/support
include ../blocks/modules/cryptocurrencies/cryptocurrencies
include ../blocks/modules/solution/solution
include ../blocks/modules/slider/slider
include ../blocks/modules/offer/offer
include ../blocks/modules/callback/callback
include ../blocks/modules/social/social
include ../blocks/modules/copyright/copyright

block variables
    -
        var
            title = "inka"
            navigationItems = [["About", "offer"], ["How it works", "solution"], ["Roadmap", "steps"], ["Docs", "http://inka.finance/docs/Lite_Paper_Inka_1_June_2021.pdf"]]
            mainHeadingText = "Multiple chains wallet"
            countList = [["8", "Chains", "1.5s"], ["100", "Cryptocurrencies", "2s"], ["15", "DeFi services", "1.5s"]]
            imagesCount = ["img/content/1.png", "img/content/2.png", "img/content/3.png"]
            textCount = [
                    "Download Inka app on App Store or Play Market",
                    "Start buying and exchanging cryptocurrencies",
                    "Earn under 30% annually by staking cryptocurrency"
            ]
            supportCrypto = ["tether", "dai", "ethereum", "chainlink", "usd-coin", "btc"];
            cryptocurrenciesList = ["Access to all chains", "Use one wallet for investing for all services", "Best stablecoins and services in one wallet", "Manage your assets 24/7"];
            solutionContent = [["Liquid swap","Liquid Swap is a feature on Liquid that facilitates the simple exchanging of digital assets and fiat currency. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.","liquid-swap", "liquid-swap@x2", "512", "391"],["DeFi staking","Liquid Swap is a feature on Liquid that facilitates the simple exchanging of digital assets and fiat currency. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.","defi-staking", "defi-staking@x2", "512", "390"],["DEX","Liquid Swap is a feature on Liquid that facilitates the simple exchanging of digital assets and fiat currency. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.","dex", "dex@x2", "512", "387"],["Cryptofunds","Liquid Swap is a feature on Liquid that facilitates the simple exchanging of digital assets and fiat currency. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.","crypto-founds", "crypto-founds@x2", "512", "387"]]
            sliderSlides = [["Inka wallet", "Wallet security is based on international standards. The code can be checked by anybody."], ["Rating", "Rating of services by users (rating). You can view the rating of the service based on the user vote and make the right choice."], ["Anonymous chat", "User privacy is our top priority. We strive to provide the most effective services."], ["One click", "Everything is in the InKA app. No more switching to third-party apps. All DeFi services and cryptocurrencies are available in InKA."], ["Investments", "Investments in digital gold, silver and stablecoins. Invest in the best digital currencies and precious metals in our app."], ["Digital assets", "Sending digital assets in a chat. Send messages and cryptocurrency to any user directly in the chat."]]
            socialIconsName = ["telegram", "fb", "twitter", "medium"]
            inputs = [["Enter your name", "text", "name"], ["Enter your e-mail", "email", "email"]]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                +icon({
                    name: "logo",
                    class: "header__logo",
                })
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                navigationListItems: navigationItems,
                })
    +b.MAIN.main
        +title({
            heading: mainHeadingText,
        })
        +count({
        countList: countList,
        })
        +steps({
            heading: "Start earning with Inka in 3 steps:",
            imagesUrl: imagesCount,
            text: textCount,
        })
        +support({
            heading: "Supporting main cryptocurrencies",
            list: supportCrypto,
        })
        +cryptocurrencies({
            heading: "In one click choose the best:",
            list: cryptocurrenciesList,
            cryptos: 10
        })
        +solution({
            solutionContent: solutionContent,
        })
        +slider({
            slides: sliderSlides,
        })
        +offer({})
    +b.FOOTER.footer
        .container
            .row
                +e.H2.heading Receive our Newsletter
                +callback({
                    content: inputs,
                    btnText: "Subscribe",
                    elem: "footer__callback",
                })
                +social({
                    iconsName: socialIconsName,
                    elem: "footer__soc",
                })
                +copyright({
                    elem: "footer__copyright",
                })
    +b.qr-code-image
        +icon({
            name: "qr-code-image",
            class: "",
            viewbox: "0 0 218 218",
        })
        +e.SPAN Scan QR code to download
        +e.triangle

block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
