mixin callback(value = false)
    include ../../components/input/input
    -
        var
                modificator = value.mod ? `_${value.mod}` : ""
    +b.callback(class=modificator)
        +e.FORM.form
            +input({
                placeholder: value.placeholder,
                type: value.type,
                btnText: value.btnText,
            })
