mixin count(value = false)
    +b.SECTION.count
        //+picture({
        //    name: "products-number",
        //    format: "webp",
        //    class: "background-img"
        //})
        +e.IMG(class="background-img lozad" data-src=`img/content/products-number.webp` data-srcset=`img/content/products-number@x2.webp 2x` media="(min-width: 768px)")
        .container
            .row
                +e.UL.list
                    each val in value.countList
                        +e.LI.item(data-counter-num=val[0] data-counter-speed=val[2])
                            +e.P.number 0
                            +e.P.text #{val[1]}

