mixin title(value = false)
    +b.SECTION.title
        .container
            .row.title__row
                +e.content
                    +e.H1.heading #{value.heading}
                    +e.IMG.img-title(class="lozad" data-src=`img/content/title-mob.webp` data-srcset=`img/content/title-mob@x2.webp 2x` media="(min-width: 992px)")
                    +e.UL.list
                        each val in value.titleList
                            +e.LI.item #{val}
                    +e.UL.worth
                            +e.LI.worth-item
                                +e.worth-item-wrp Under<br> <span class="title__worth-text_big">30$</span><br> interest rate
                            +e.LI.worth-item
                                +e.worth-item-wrp <span class="title__worth-text_medium">Best</span><br> exchange rate<br> <span class="title__worth-text_medium">Worldwide</span>
                            +e.LI.worth-item
                                +e.worth-item-wrp <span class="title__worth-text_medium">All</span><br> llservices &<br> cryptocurrencies<br> <span class="title__worth-text_medium">in one</span> wallet
                    +e.UL.app-store
                        +e.LI.app-store-item
                            +e.A.app-stire-link(href="https://apps.apple.com/ru/app/яндекс-карты/id313877526" target="_blank")
                                +b.IMG(class="lozad" data-src=`img/content/app-store.webp` data-srcset=`img/content/app-store@x2.webp 2x`)
                        +e.LI.app-store-item
                            +e.A.app-store-link(href="https://play.google.com/store/apps/details?id=ru.yandex.yandexmaps" target="_blank")
                                +b.IMG(class="lozad" data-src=`img/content/google-play.webp` data-srcset=`img/content/google-play@x2.webp 2x`)
                        +e.LI.app-store-item
                            +e.A.app-store-link(href="#")
                                +b.IMG(class="lozad" data-src=`img/content/qr-code.webp` data-srcset=`img/content/qr-code@x2.webp 2x`)

                +e.img
                    +b.IMG(class="lozad" data-src=`img/content/title-desk.webp` data-srcset=`img/content/title-desk@x2.webp 2x` media="(max-width: 992px)")

