.title {
    padding-top: 140px;
    padding-bottom: 80px;
    @media (min-width: $break_md) {
        padding-top: 170px;
        padding-bottom: 130px;
    }
    @media (min-width: $break_xl) {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__content {
        @include col();
        @include size(12);
        display: flex;
        flex-direction: column;
        @media (min-width: $break_lg) {
            width: 687px;
        }
    }
    &__img-title {
        height: auto;
        margin: 0 auto;
        margin-bottom: 45px;
        @media (min-width: $break_sm) {
            margin-bottom: 70px;
        }
        @media (min-width: $break_md) {
            display: none;
        }
    }
    &__img-app {
        display: block;
        @media (min-width: $break_sm) {
            width: 184px;
            height: 64px;
        }
    }

    &__img {
        display: none;
        width: calc(100% - 717px);
        @media (min-width: $break_lg) {
            display: block;
        }
    }

    &__row {
        @media (min-width: $break_lg) {
            align-items: center;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 36px;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        @media (min-width: $break_md) {
            font-size: 48px;
            margin-bottom: 64px;
        }
        @media (min-width: $break_lg) {
            text-align: left;
        }
    }

    &__list {
        margin-bottom: 25px;
        @media (min-width: $break_sm) {
            display: flex;
            justify-content: flex-start;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 70px;
        }
        @media (min-width: $break_md) {
            margin-bottom: 64px;
        }
        @media (min-width: $break_lg) {
            margin-left: 0;
        }
        @media (min-width: $break_xl) {
            margin-bottom: 120px;
        }
    }

    &__item {

        display: flex;
        align-items: center;

        font-size: 18px;
        color: $font-light-black;
        position: relative;
        @media (min-width: $break_sm) {
            box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            width: 172px;
            padding: 21px;
        }
        @media (min-width: $break_md) {
            font-size: 20px;
            margin-bottom: 10px;
        }
        @media (min-width: $break_lg) {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 15px;
            width: 200px;
            padding: 24px;
        }
        &_text_big {
            font-size: 48px;
            font-weight: 500;
        }
        & + & {
            margin-top: 24px;
            @media (min-width: $break_sm) {
                margin-top: 0;
                margin-left: 30px;
            }
        }
    }
    &__item-text {
        font-size: 18px;
        @media (min-width: $break_sm) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
    &__strong {
        font-size: 20px;
        @media (min-width: $break_md) {
            font-size: 22px;
        }
        @media (min-width: $break_lg) {
            font-size: 24px;
        }
        &_big {
            @media (min-width: $break_lg) {
                font-size: 48px;
                line-height: 45px;
            }
        }
    }
    &__list-svg {
        display: block;
        width: 13px;
        min-width: 13px;
        height: 20px;
        min-height: 20px;
        margin-right: 25px;
        @media (min-width: $break_sm) {
            display: none;
        }
    }

    &__worth {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;
        @media (min-width: $break_md) {
            margin-bottom: 60px;
        }
        @media (min-width: $break_md) {
            margin-bottom: 86px;
        }
    }

    &__worth-item {
        @include u-col(0);
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        color: $font-light-black;
        @media (min-width: $break_md) {
            max-width: 200px;
        }
    }

    &__worth-item + &__worth-item {
        margin-top: 35px;
        @media (min-width: $break_md) {
            margin-top: 0;
            margin-left: 15px;
        }
        @media (min-width: $break_xl) {
            margin-left: 36px;
        }
    }

    &__worth-item-wrp {
        max-width: 200px;
        padding: 32px 24px;
        box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        @media (min-width: $break_md) {
            height: 100%;
        }
    }

    &__app-store {
        display: flex;
        justify-content: center;
        @media (min-width: $break_lg) {
            justify-content: flex-start;
        }
    }

    &__app-store-item {
        margin-bottom: 10px;
        @media (min-width: $break_sm) {
            margin-bottom: 0;
        }
        & + & {
            @media (min-width: $break_xs) {
                margin-left: 15px;
            }
            margin-left: 5px;
        }
    }

    &__app-store-item + &__app-store-item {
        @media (min-width: $break_md) {
            margin-left: 24px;
        }
    }
    &__app-store-link {
        display: block;
        position: relative;
    }
    &__qr-code-image {
        width: 100px;
        height: 100px;
    }
    &__qr-code {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        @media (min-width: $break_sm) {
            width: 64px;
            height: 64px;
        }
    }
}
