.title {
    padding-top: 60px;
    padding-bottom: 80px;
    &__content {
        @media (min-width: $break_lg) {
            width: 687px;
        }
        @include col();
        @include size(12);
        display: flex;
        flex-direction: column;
    }
    &__img-title {
        @media (min-width: $break_md) {
            display: none;
        }
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 45px;
    }
    &__img-app {
        display: block;
    }

    &__img {
        @media (min-width: $break_lg) {
            display: block;
        }
        display: none;
        width: calc(100% - 717px);
    }

    &__row {
        @media (min-width: $break_lg) {
            align-items: center;
        }
    }

    &__heading {
        font-weight: bold;
        font-size: 36px;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }

    &__list {
        @media (min-width: $break_md) {
            margin-bottom: 36px;
        }
        margin-bottom: 25px;
    }

    &__item {
        @media (min-width: $break_md) {
            font-size: 20px;
            margin-bottom: 10px;
        }
        @media (min-width: $break_lg) {
            font-size: 24px;
            margin-bottom: 15px;
        }

        display: flex;
        align-items: flex-start;

        font-family: $font-family-base;
        font-size: 18px;
        color: $font-light-black;
        position: relative;
        &_text_big {
            font-size: 48px;
            font-weight: 500;
        }
        & + & {
            margin-top: 24px;
        }
    }
    &__list-svg {
        width: 13px;
        height: 20px;
        min-width: 13px;
        min-height: 20px;
        margin-right: 25px;
        display: block;
    }

    &__worth {
        @media (min-width: $break_md) {
            margin-bottom: 60px;
        }
        @media (min-width: $break_md) {
            margin-bottom: 86px;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;
    }

    &__worth-item {
        @media (min-width: $break_md) {
            max-width: 200px;
        }
        @include u-col(0);
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        color: $font-light-black;
    }

    &__worth-item + &__worth-item {
        @media (min-width: $break_md) {
            margin-top: 0;
            margin-left: 15px;
        }
        @media (min-width: $break_xl) {
            margin-left: 36px;
        }
        margin-top: 35px;
    }

    &__worth-item-wrp {
        @media (min-width: $break_md) {
            height: 100%;
        }
        max-width: 200px;
        padding: 32px 24px;
        box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    &__app-store {
        display: flex;
        justify-content: center;
    }

    &__app-store-item {
        margin-bottom: 10px;
        & + & {
            margin-left: 15px;
        }
    }

    &__app-store-item + &__app-store-item {
        @media (min-width: $break_md) {
            margin-left: 24px;
        }
    }
    &__qr-code {
        width: 40px;
        height: 40px;
        display: block;
    }
}
