mixin title(value = false)
    +b.SECTION.title
        .container
            .row.title__row
                +e.content
                    +e.H1.heading #{value.heading}
                    +e.IMG.img-title(src=`img/content/title-mob.webp` srcset=`img/content/title-mob@x2.webp 2x` media="(min-width: 992px)" height="335" width="320")
                    +e.UL.list
                        +e.LI.item
                            +icon({
                                name: "arrow-right",
                                class: "title__list-svg"
                            })
                            +e.item-text
                                | Interest rate<br> under <strong class="title__strong title__strong_big">30%</strong>
                        +e.LI.item
                            +icon({
                                name: "arrow-right",
                                class: "title__list-svg"
                            })
                            +e.item-text
                                | <strong class="title__strong">Best</strong> exchange rate <strong class="title__strong">worldwide</strong>
                        +e.LI.item
                            +icon({
                                name: "arrow-right",
                                class: "title__list-svg"
                            })
                            +e.item-text
                                | <strong class="title__strong">All</strong> services & cryptocurrencies <strong class="title__strong">in one</strong> wallet
                    +e.UL.app-store
                        +e.LI.app-store-item
                            +e.A.app-stire-link(href="https://apps.apple.com/ru/app/яндекс-карты/id313877526" target="_blank")
                                +e.IMG.img-app(class="lozad" data-src=`img/content/app-store.webp` data-srcset=`img/content/app-store@x2.webp 2x` height="40" width="115")
                        +e.LI.app-store-item
                            +e.A.app-store-link(href="https://play.google.com/store/apps/details?id=ru.yandex.yandexmaps" target="_blank")
                                +e.IMG.img-app(class="lozad" data-src=`img/content/google-play.webp` data-srcset=`img/content/google-play@x2.webp 2x` height="40" width="115")
                        +e.LI.app-store-item
                            +e.A.app-store-link(href="#")
                                +e.app-store-link-wrp
                                    +icon({
                                        name: "qr-code",
                                        class: "title__qr-code qr-code"
                                    })
                +e.img
                    +b.IMG(class="lozad" data-src=`img/content/title-desk.webp` data-srcset=`img/content/title-desk@x2.webp 2x` media="(max-width: 992px)")

