.solution {
    position: relative;
    background-color: $light-black;
    padding: 40px 0;

    &__item {
        @media (min-width: $break_md) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: inherit;
            margin: 130px 0;
        }
        padding: 40px 0;
        display: flex;
        flex-direction: column;
    }

    &__item-wrp {
        @media (min-width: $break_lg) {
            width: 496px;
            min-width: 496px;
        }
        @media (min-width: $break_md) {
            width: 300px;
            min-width: 300px;
            @include col();
        }
    }

    &__content {
        @media (min-width: $break_lg) {
            max-width: 496px;
        }
        @include col();
        @include size(12);
    }

    &__svg {
        @media (min-width: $break_lg) {
            width: 36px;
            height: 36px;
            margin-right: 26px;
        }
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    &__sign {
        @media (min-width: $break_lg) {
            font-size: 24px;
        }
        font-size: 16px;
        color: $white;
        line-height: 36px;
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;

        margin-bottom: 24px;
    }

    &__title {
        @media (min-width: $break_lg) {
            font-size: 48px;
        }
        padding: 0;
        margin: 0;
        font-size: 28px;
        font-weight: bold;
        color: $white;
        margin-bottom: 20px;
    }

    &__text {
        @media (min-width: $break_lg) {
            font-size: 24px;
        }
        line-height: 24px;
        color: $white;
        margin-bottom: 20px;
    }

    &__img {
        @media (min-width: $break_md) {
            max-width: 380px;
            @include col();
        }
        margin: 0 auto;

        &[data-loaded="true"] {
            @media (min-width: $break_md) {
                animation: none;
            }
            animation: {
                name: fadeInLeft;
                timing-function: ease;
                duration: .8s;
                fill-mode: both;
            }
        }
    }
    &__fixed {
        @media (min-width: $break_lg) {
            width: calc(100% - 556px);
        }
        width: calc(100% - 380px);
        margin-right: 15px;
        margin-left: 15px;

        display: flex;
        justify-content: flex-end;

    }
    &__fixed-items {
        @media (min-width: $break_xl) {
            width: 500px;
        }
        width: 388px;
        max-width: 100%;
        height: calc(100% - 180px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 170px;
        right: 15px;
        bottom: 130px;
        margin-bottom: 130px;
    }
    &__img-fixed {
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 1;

        transition: opacity .5s ease-out,visibility .5s ease-out;
        backface-visibility: hidden;
        width: 500px;
        max-width: 100%;
        &_show {
            opacity: 1;
            visibility: visible;
            transition: opacity .5s ease-out,visibility .5s ease-out;
        }
    }
    &__images {
        width: calc(100% - 546px);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &__images-wrp {
        width: 100%;
        height: 25%;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
